/*!---------- PLACE YOUR CUSTOM STYLES AND OVERRIDES HERE ----------*/
#map {
      width: 100%;
      height: 600px;
      border: solid 1px gray;
    }
/*Rewriting Markercluster styles*/
.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div {
  background-color: rgba(180,21,48,0.7);
}
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
  background-color: rgba(180,21,48,0.7);
}
.marker-cluster span {
  color: white;
  font-weight: bolder
}

/*.awesome-marker i {
	color: white !important;
}*/

.center {
  text-align: center;
}

.leaflet-control-locate a {
  padding: 0;
}